// 侧栏宽度
$sideBarWidth: 280px;
$sideBarMenuBg: #3278c4;
$sideBarMenuText: #fff;

$sideBarMenuActiveText: #fff;
$sideBarMenuActiveBg: #263445;

$sideBarMenuHoverText: #fff;
$sideBarMenuHoverBg: #263445;

:export {
  sideBarWidth: $sideBarWidth;
  sideBarMenuBg: $sideBarMenuBg;
  sideBarMenuText: $sideBarMenuText;
  sideBarMenuActiveText: $sideBarMenuActiveText;
  sideBarMenuActiveBg: $sideBarMenuActiveBg;
  sideBarMenuHoverText: $sideBarMenuHoverText;
  sideBarMenuHoverBg: $sideBarMenuHoverBg;
}
